/venv/*
.vscode/*
.vscode
CAA/.idea/*
CAA/cmake-build-debug/
__pycache__/
algorithms/__pycache__/*
algorithms/__pycache__/
environment/__pycache__/
episodes/*
episodes.log
project/algorithms/rl/weights/
*.ipynb
.pytest_cache/*
.gitignore
algorithms/pid/saves/*
algorithms/rl/weights/*
